#card {
  width: 378px;
  height: 486px;
  background-color: EAF1EF;
  stroke: solid 1px B1C2BE;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5); 
  box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.5);
}

#price {
  width: 154;
  height: 63;
  background-color: F2FFC;
}

#image {
  width: 375px;
  height: 375px;
}

#card-title {
  
}

#btn-rm {

}

#int-qtt {

}

#btn-add {

}