.card-pedido {
  margin: 0 10%;
}

.header-pedido {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

h1 {
  font-size: medium;
}

.btn-status {
  background-color: #036b52;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  width: auto;
}

.btn-status:disabled {
  background-color: #075846;
  color: gray;
}

.status {
  align-items: center;
  background-color: #2fc18c;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 10px 40px;
}
