.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.form-login {
  background-color: #e5e5e5;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px , rgba(0, 0, 0, 0.22) 0 15px 12px;
  margin-bottom: 20px;
  padding: 30px;
}

.form-label {
  font-weight: 400;
  margin-bottom: 8px;
  margin-left: 10px;
}

.email, .password, .nome {
  height: 40px;
  width: 260px;
}

.btn-login, .btn-register, .btn-cadastrar {
  border-radius: 6px;
  font-size: 16px;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}

.btn-login, .btn-cadastrar {
  background-color: #036b52;
  border: none;
  color: white;
}

.btn-login:disabled, .btn-cadastrar:disabled {
  background-color: gray;
  border: none;
  color: white;
  pointer-events: none;
}

.btn-register {
  background-color: #e5e5e5;
  border: 2px solid #036b52;
  color: #036b52;
}

.showError {
  display: inline;
}

.notError {
  display: none;
}

.invalid-login {
  color: red;
}
