.menu {
  background-color: #036b52;
  display: flex;

  /* justify-content: space-between; */
  min-height: 10vh;
}

a {
  text-decoration: none;
}

.active-link {
  background-color: #2fc18c;
  color: white;
}

.btn-produtos {
  min-width: 15%;
  text-align: center;
}

.btn-produtos a {
  color: black;
}

.btn-orders {
  min-width: 15%;
  text-align: center;
}

.btn-orders a {
  color: black;
}

.btn-logout {
  background-color: #056cf9;
  min-width: 15%;
  text-align: center;
}

.btn-logout a {
  color: white;
}

.username {
  background-color: #421981;
  color: white;
  min-width: 15%;
  text-align: center;
}

.space {
  min-width: 40%;
  text-align: center;
}
