.form-cadastro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

h4 {
  margin-bottom: -1px;
  margin-left: 6px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

button {
  margin: 2px;
  width: 110%;
}

.showError {
  display: inline;
}

.notError {
  display: none;
}
