.register {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.label-cadastro {
  text-align: center;
}

.form-cadastro {
  background-color: #e5e5e5;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px , rgba(0, 0, 0, 0.22) 0 15px 12px;
  margin-bottom: 20px;
  padding: 15px  30px  30px;
}

h4 {
  margin-bottom: -1px;
  margin-left: 6px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

button {
  margin: 2px;
  width: 110%;
}

.showError {
  display: inline;
}

.notError {
  display: none;
}
