.checkout-addresscard {
  height: 331px;
  width: 1640px;
}

h2 {
  height: 20px;
  width: 723px;
}

.form-box {
  height: 283px;
  width: 1638px;
}

.select-seller {
  height: 112px;
  width: 371px;
}

.submit-btn {
  height: 50px;
  width: 100px;
}
