.form-box {
  height: 200px;
  width: 1600px;
}

h2 {
  width: 370px;
}

.label-select-seller {
  height: 50px;
  width: 180px;
}

.select-seller {
  height: 24px;
  width: 180px;
}

.address-box {
  height: 50px;
  width: 600px;
}

.input-address {
  height: 18px;
  width: 592px;
}

.number-box {
  width: 90px;
}

.input-number {
  height: 18px;
  width: 80px;
}

.submit-btn {
  height: 50px;
  width: 100px;
}
